* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}
.slider {
  margin-bottom: 20px;
  background-color: #eff;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.11);
  opacity: 1;
  background-color: rgb(255, 208, 0);
  color: white;
}
.slider-card {
  background-color: white;
  margin: 50px 15px 50px 15px;
  border-radius: 5px;
  box-shadow: 0px 15px 45px 20px rgba(238, 255, 255, 0.507);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px;
}

.owl-next {
  position: absolute;
  top: 50% !important;
  right: 0px;
  opacity: 1;
  font-size: 50px !important;
  z-index: 1;
}
.owl-prev {
  position: absolute;
  top: 50% !important;
  left: 0px;
  opacity: 1;
  font-size: 50px !important;
  z-index: 1;
}
